/* font-size */
$fs-tiny: 0.625rem;
$fs-small: 0.875rem;
$fs-default: 1rem;
$fs-big: 1.25rem;
$fs-bigger: 1.5rem;
$fs-large: 1.875rem;
$fs-huge: 3.25rem;
/* color */
$clr-white: #fff;
$clr-light: #d4d4d4;
$clr-half-white: rgba(255, 255, 255, 0.5);
$clr-dark: #222;
$clr-semi-black: rgba(0, 0, 0, 0.3);
$clr-half-black: rgba(0, 0, 0, 0.5);
$clr-black: #000;
$clr-red: #ff4e50;
$clr-teal: #19d4ca;
$clr-orange: #ffa710;
$clr-blue: #667df3;
/* font-weight */
$fw-light: 300;
$fw-semi-bold: 500;
$fw-bold: 700;
/* ui height */
$control-height: 40px;
/* border-radius */
$br: 4px;
/* offsets */
$o-4:  4px;
$o-8:  8px;
$o-12: 12px;
$o-16: 16px;
$o-20: 20px;
$o-24: 24px;
$o-40: 40px;
$o-48: 48px;
$o-96: 96px;
